@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  background-color: #130f40;
  color: #fff;
}